<div class="card" style="width: 18rem;">
  <%= image_tag listing.image, class: 'card-img' if listing.image.attached? %>
  <div class="card-body">
    <h5 class="card-title"> <%= listing.name %> </h5>
    <p class="card-text"> $<%= listing.price %> </p>
    <p class="card-text"> Functional Condition: <%= listing.functional_condition %> / 3 </p>
    </span>
    <p class="card-text"> Cosmetic Condition: <%= listing.cosmetic_condition %> / 3</p>
    <a href='<%= listing_path(listing) %>' class="btn btn-primary">View</a>
    <% if user_signed_in? %>
      <% if listing.user.id == current_user.id %>
        <a href='<%= edit_listing_path(listing) %>' class="btn btn-primary">Edit</a>
        <%= link_to 'Delete', listing_path(listing), method: :delete, class: 'btn btn-danger', :data => {:confirm => 'Are you sure?'} %>
      <% else %>
        <%= link_to 'Purchase', purchase_listing_path(listing), class: 'btn btn-success' %>
      <% end %>
    <% else %>
      <%= link_to 'Purchase', purchase_listing_path(listing), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>