<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= listing.name %> </h5>
    <p class="card-text"> $<%= listing.price %> </p>
    <p class="card-text"> Functional Condition: <%= listing.functional_condition %> </p>
    <p class="card-text"> Cosmetic Condition: <%= listing.cosmetic_condition %> </p>
    <p class="card-text"> <%= listing.description %> </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>