<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= listing.name %> </h5>
    <p class="card-text"> $<%= listing.price %> </p>
    <span title="Click here to edit the foo">
    Edit
    <p class="card-text"> Functional Condition: <%= listing.functional_condition %> / 3 </p>
    </span>
    <p class="card-text"> Cosmetic Condition: <%= listing.cosmetic_condition %> / 3</p>
    <p class="card-text"> <%= listing.description %> </p>
    <a href='<%= listing_path(listing) %>' class="btn btn-primary">View</a>
  </div>
</div>