
<br>
<%= form_with(model: listing, local: true) do |form| %>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
  
  <div class="field form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control', placeholder: 'Price' %>
    <small id="priceHelp" class="form-text text-muted">Enter whole numbers only.</small>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(['Consoles', 'Games', 'Controllers', 'Bundles' ,'Miscellaneous']), 
    {include_blank: true}, {class: "form-control form-select"} %>
  </div>
  
  <div class="field form-group">
    <%= form.label :console_compatibility %>
    <% console_options = [['Sony',['Playstation 5', 'Playstation 4', 'Playstation 3', 'Playstation 2', 'Playstation']], 
    ['Microsoft', ['Xbox Series X', 'Xbox Series S', 'Xbox One', 'Xbox 360', 'Xbox'] ],
    ['Nintendo', ['Switch', 'Wii U', 'Wii', 'GameCube', '64'] ],
    ['Other', ['PC', 'Other'] ] ] %>
    <%= form.select :console_compatibility, grouped_options_for_select(console_options, nil), 
    {include_blank: true}, {class: "form-control form-select"} %>
  </div>
  
  <div class="field form-group">
    <%= form.label :functional_condition %>
    <%= form.select :functional_condition, options_for_select([ 
      ['1: Not functional; for parts or repair', 1], 
      ['2: Works the majority of the time with some malfunctions/bugs/errors', 2], 
      ['3: Works flawlessly', 3] ]), 
    {include_blank: true}, {class: "form-control form-select"} %>
  </div>

  <div class="field form-group">
    <%= form.label :cosmetic_condition %>
    <%= form.select :cosmetic_condition, options_for_select([ 
      ['1: Heavy damage / scratching', 1], 
      ['2: Some visible damage / scratching', 2], 
      ['3: No scratches or damage', 3] ]), 
    {include_blank: true}, {class: "form-control form-select"} %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder:'Description' %>
  </div>

  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/jpg, image/jpeg, image/png', class: 'form-control'%>
  </div>

  <br>

  <div class="actions">
    <%= form.submit 'Create Listing', class: 'btn btn-success' %>
  </div>

<% end %>