<p id="notice"><%= notice %></p>

<h1>
  <%= @listing.name %>
</h1>

<%= image_tag @listing.image %>

<p>
  <strong>Price:</strong>
  $<%= @listing.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Console compatibility:</strong>
  <%= @listing.console_compatibility %>
</p>

<p>
  <strong>Functional condition:</strong>
  <%= @listing.functional_condition %> / 3 :
  <% if @listing.cosmetic_condition == 1 %>
  <%= 'Not functional; for parts or repair' %>
  <% elsif @listing.cosmetic_condition == 2 %>
  <%= 'Works the majority of the time with some bugs/errors' %>
  <% elsif @listing.cosmetic_condition == 3 %>
  <%= 'Works flawlessly'%>
  <% end %>
</p>

<p>
  <strong>Cosmetic condition:</strong>
  <%= @listing.cosmetic_condition %> / 3 :
  <% if @listing.cosmetic_condition == 1 %>
  <%= 'Heavy damage / scratching' %>
  <% elsif @listing.cosmetic_condition == 2 %>
  <%= 'Some visible damage / scratching' %>
  <% elsif @listing.cosmetic_condition == 3 %>
  <%= 'No scratches or damage'%>
  <% end %>

</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
